<div class="row">
    <ul id="messages" class="col-md-10"></ul>
    <ul id="networks" class="col-md-2">
        <li class="current">All</li>
        {{#each networks}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</div>

<form action="">
    <input placeholder="{{currentUser.userName}}" id="m" autocomplete="off" />
    <button>Send</button>
</form>

<script>
    var currentUser = '{{currentUser.uuid}}';
    var currentVanity = '{{currentUser.vanity}}';
    var userName = '{{currentUser.fullName}}';
</script>
