
body{
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.player1{
    width: 61px;
    height: 179px;
    background-image: url("../images/rocket1.svg");
    background-size: cover;
    position: absolute;
    right: 30%;
    bottom: -179px;
}
.player2{
    width: 61px;
    height: 179px;
    background-image: url("../images/rocket2.svg");
    background-size: cover;
    position: absolute;
    left: 30%;
    bottom: -179px;
}

.menu{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.pseudo{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 20%;
}


.menu h1, label, button{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.menu h1{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.5em;
}

.menu h1 > span{
    font-weight: 900;
}

.pseudo label{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.pseudo input{
    margin-bottom: 35px;
    padding: 20px 5px;
    font-size: 1em;
    color: rgba(0,0,0,.9);
}

.pseudo button{
    background-color: transparent;
    border: 7px solid white;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 900;
    transition: 0.8s all;
    cursor: pointer;
}

.pseudo button:hover{
    background-color: white;
    color: rgba(0,0,0,.9);
    transition: 0.4s all;
}

.gameTitle {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
    top: 50px;
}
