/* here default style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages {
  margin-bottom: 40px
}

.button.gensdeconfiance {
    box-shadow: none;
    text-transform: none;
    margin-bottom: .5rem;
    letter-spacing: 0;
    background-color: #802254;
    background-image: linear-gradient(#bc327c,rgba(255,255,255,0));
    height: 60px;
    width: 150px;
    padding:10px;
    margin: 15px;
    display: block;
    margin-top: .5rem;
}

a.username {
    font-weight: bold;
    text-decoration: underline;
}

#networks li {
    cursor: pointer;
    list-style: none;
    color: #ccc;
}
#networks li.current {
    font-weight: bold;
    color: #333;
}
